# ====== #
# Builds #
# ====== #
Oscura.app

/steam_build/build/
/steam_build/output/
build_settings

# =============== #
# Unity generated #
# =============== #
/Temp/
/Obj/
/UnityGenerated/
/Library/
UnityVS.*.*

# ===================================== #
# Visual Studio / MonoDevelop generated #
# ===================================== #
/ExportedObj/
*.svd
*.userprefs
*.csproj
*.pidb
*.suo
*.sln
*.user
*.unityproj
*.booproj
*.pyc
*.pyc.meta

# ============ #
# OS generated #
# ============ #
.DS_Store
.DS_Store?
._*
.Spotlight-V100
.Trashes
Icon?
ehthumbs.db

# ========= #
# Our stuff #
# ========= #
/builds/
/*.sublime-workspace
